<spinner-content [isRunning]="isRequesting"></spinner-content>
<div class="container" [hidden]="isRequesting">
    <div class="card">
        <div class="card-header">
            <h2>
                {{subtitle}}
                <small>Facturas a emitir por la cl&iacute;nica a proveedores</small>
            </h2>
            <div class="pull-right"><strong>Saldo a favor:</strong> <span class="c-blue">$ {{clinic.AvailableBalance == null ? 0 : clinic.AvailableBalance}}</span></div>
        </div>
        <div class="card-body p-l-20 p-r-20">
            <br />
            <br />
            <div class="row">
                <div class="col-sm-6 col-md-2">
                    <div class="input-group form-group">
                        <span class="input-group-addon"><i class="md md-today"></i></span>
                        <div class="fg-line select">
                            <select class="form-control" [(ngModel)]="year"  name="Year" #Year="ngModel" (change)="getData()">
                                <option *ngFor="let opt of years" [value]="opt">{{opt}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-2">
                    <div class="input-group form-group">
                        <div class="fg-line select">
                            <select class="form-control" [(ngModel)]="month" name="Month" #Month="ngModel" (change)="getData()">
                                <option *ngFor="let opt of months" [value]="opt.id">{{opt.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm-12 m-b-25">
                    <div class="panel-group" data-collapse-color="green" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-collapse">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionGreen" href="#accordionGreen-one" aria-expanded="false">
                                        Uso de la plataforma OdontoFy - <span class="c-teal">Pagar a OdontoFy</span> hasta el <span class="c-teal">{{paymentDate}} </span>
                                        <div class="c-teal pull-right">$ {{amountPlan}}</div>
                                    </a>
                                </h4>
                            </div>
                            <div id="accordionGreen-one" class="collapse" role="tabpanel">
                                <div class="panel-body">
                                    <h4>Detalles:</h4>
                                    Servicios del plan <strong>{{namePlan}}</strong> contratado. Debe pagar la mensualidad de: <span class="c-teal">$ {{countPaidPending * amountPlan}}</span>
                                    <div class="c-brown pull-right">Fecha de pago: {{paymentDate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-collapse" [hidden]="!partner">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionGreen" href="#accordionGreen-two" aria-expanded="false">
                                        Programa de socios - <span class="c-teal">Pagar a OdontoFy</span>
                                        <div class="c-teal pull-right">$ {{amountPartnership}}</div>
                                    </a>
                                </h4>
                            </div>
                            <div id="accordionGreen-two" class="collapse" role="tabpanel">
                                <div class="panel-body">

                                    <div class="text-center" [hidden]="responsePartnetship.Total > 0">
                                        <i class="md md-settings-ethernet" style="font-size: 100px;"></i>
                                        <div>No hay elementos para mostrar</div>
                                    </div>

                                    <div class="table-responsive" [hidden]="!(responsePartnetship.Total > 0)">
                                        <h4>Detalles:</h4>
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th style="width: 80%">
                                                        Nombre
                                                    </th>
                                                    <th style="width: 10%">
                                                        Facturado
                                                    </th>
                                                    <th style="width: 10%">
                                                        Cuota a OdontoFy
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of responsePartnetship.Data">
                                                    <td>{{item.Name}} {{item.LastNames}}</td>
                                                    <td>$ {{item.Payment}}</td>
                                                    <td>$ {{item.Payment * feePartner / 100}}</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td><h4><u>Total a pagar a OdontoFy</u></h4></td>
                                                    <td></td>
                                                    <td><h4><u>$ {{amountPartnership}}</u></h4></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-collapse">
                            <div class="panel-heading" role="tab">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionGreen" href="#accordionGreen-third" aria-expanded="false">
                                        Servicios profesionales
                                        <div class="c-teal pull-right">$ {{amountProfesional}}</div>
                                    </a>
                                </h4>
                            </div>
                            <div id="accordionGreen-third" class="collapse" role="tabpanel">
                                <div class="panel-body">

                                    <div class="text-center" [hidden]="responseProfesional.Total > 0">
                                        <i class="md md-settings-ethernet" style="font-size: 100px;"></i>
                                        <div>No hay elementos para mostrar</div>
                                    </div>

                                    <div class="table-responsive" [hidden]="!(responseProfesional.Total > 0)">
                                        <h4>Detalles:</h4>
                                        <table id="tableProfesional" class="table table-striped" [mfData]="responseProfesional.Data" #mf="mfDataTable">
                                            <thead>
                                                <tr>
                                                    <th style="width: 80%">
                                                        <mfDefaultSorter by="name">Nombre del profesional</mfDefaultSorter>
                                                    </th>
                                                    <th style="width: 10%">
                                                        <mfDefaultSorter by="total">Facturado</mfDefaultSorter>
                                                    </th>
                                                    <th style="width: 10%">
                                                        <mfDefaultSorter by="total">Honorarios</mfDefaultSorter>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of mf.data">
                                                    <td>{{item.Name}} {{item.LastNames}}</td>
                                                    <td>$ {{item.Payment}}</td>
                                                    <td>$ {{item.Payment * 0.5}}</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td><h4><u>Total a pagar a Profesionales</u></h4></td>
                                                    <td></td>
                                                    <td><h4><u>$ {{amountProfesional}}</u></h4></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
